Do not retry failed failed queries too much and reference RFC 9520

 >    A No Data response (see Section 2.2 of [RFC2308]) for the validating
 >    NS query should be treated the same as a failed validating NS query.

 aybe there is something to say about not retrying failed failed queries too
 aggressively ala RFC 5920.




Fixed by PR #55